body{
	margin: 0 auto;
	background-image: url("../img/CSbuilding.png");
	background-repeat: repeat;
	background-size: 100% 720px;
}

h1 {
  text-align: center;
}

.impact{
	font-size:20px;
	font-family: Arial, Helvetica, sans-serif;	
	 text-align: center;
}

.inputBox{
	padding: 10px;
	border: #bdbdbd 1px solid;
	border-radius: 4px;
	background-color: #FFF;
	width: 11%;
}

.btn-login{
	padding: 15px 25px;
	border: none;
	background-color: #D61111;
	color: #fff;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #043691;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: relative;
  left: 520px;
  top: 70px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}